<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Anketa– nejlepší jídlo</title>
</head>
<body>
    {% if jidlo %}
    <strong>Tvoje oblíbené jídlo je {{ jidlo }}<br>
    Můžeš se podívat, <a href="/vyhodnoceni">jak hlasovali ostatní</a>!</strong><hr>
    {% endif %}
    <form method="POST">
        <p>Které z těchto jídel je tvé oblíbené?</p>

        <input type="radio" id="Pizza" name="jidlo" value="Pizza">
        <label for="Pizza">Pizza</label><br>

        <input type="radio" id="Řízek" name="jidlo" value="Řízek">
        <label for="Řízek">Řízek</label><br>

        <input type="radio" id="Zmrzlina" name="jidlo" value="Zmrzlina">
        <label for="Zmrzlina">Zmrzlina</label><br>

        <input type="radio" id="Hamburger" name="jidlo" value="Hamburger">
        <label for="Hamburger">Hamburger</label><br>

        <input type="radio" id="Kebab" name="jidlo" value="Kebab">
        <label for="Kebab">Kebab</label><br>

        <br>
        <button type="submit">Potvrdit výběr</button>
    </form>
</body>
</html>
